*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Archivo', sans-serif;
}
html{
    background-image: url(/img/FONDO.jpg);
    background-size: cover;
   
}
:root{
    /*COLORES*/
    --barra: #E9EFC0;
    --barra_ventana: #C0EDA6;
    --ventana: #FFFFFF;
    --inicio: #E0D8B0;
}